<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DNA forensics program</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Welcome to the DNA forensics program!</h1>
<h2>Crime!!!!</h2>
<p>There has been a hideous crime! A full container of ice cream was stored in the SmartNinja fridge - and now it's completely empty. But the criminal made a fatal mistake. S/he left a spoon inside the container and with a spoon also his/her DNA. A perfect case for our CSI investigators!</p>
<img src="https://camo.githubusercontent.com/9493c954edd6acd48202ec744caa9dfc2ac1ccc9/68747470733a2f2f73746f726167652e676f6f676c65617069732e636f6d2f736d6172746e696e6a612d6f72672d6173736574732f637572726963756c756d732f7764312f696d672f656d7074792d6963652d637265616d2e6a7067" />
<br>
<form method="post">
    <input name="in_dna">Please Input the DNA<br>
    <button type="submit">Test DNA</button>
    </form>
</body>
</html>